body {
	text-align: center;	
	font-family: "Open Sans", sans-serif;
}

p {
	margin-top: 35px;
	font-size: 20px;
}

text {
	margin-bottom: 30px;
	font-size: 13px;
}

iframe {
	margin-top: 10px;
}

img {
	width: 200px;
	height: 200px;
}

#show {
	display: none;
	font-size: 10px;
}

#spotify {
	display: none;
	margin-top: -15px;
}

#px_photo {
	display: none;
	width: 100%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;    
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
}

.fa-twitter {
	color: #1DA1F3;
}

.fa-linkedin {
	color: #0274B3;
}

.fa-500px {
	color: black;
}

.fa-medium {
	color: #14C767;
}

