body {
	text-align: center;	
	font-family: "Open Sans", sans-serif;
}

p {
	margin-top: 35px;
	font-size: 18px;
}

text {
	margin-bottom: 30px;
}

iframe {
	margin-top: -10px;
}

img {
	width: 100px;
	height: 100px;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;    
    text-decoration: none;
    border-radius: 50%;
}

.fa-twitter {
	color: #1DA1F3;
}

.fa-linkedin {
	color: #0274B3;
}

.fa-500px {
	color: black;
}

.fa-medium {
	color: #14C767;
}
