* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
}

h2{
    font-size: 30px;
}

nav{
    display: grid;
    grid-template-columns: auto auto;
}

.menu{
    justify-self: end;
}

.menu ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    list-style: none;
}

.menu ul li{
    padding-left: 1.5em;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.menu ul li a:hover{
    color: royalblue;
}

.main-container{
    margin: 3em 5em 0 5em;
}

.main-greet h1{
    font-size: 50px;
}

.main-greet p{
    margin-top: 2em;
    font-size: 20px;
    max-width: 550px;
    text-align: justify;
}

.main-buttons{
    margin-top: 3em;
    display: flex;
}

.main-buttons button{
    padding: 15px;
    width: 12em;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.main-buttons button:hover{
    background: royalblue;
    text-decoration: whitesmoke;
    color: whitesmoke;
}

.main-buttons button:nth-child(2){
    margin-left: 1.5em;
}

/* # ABOUT ME */

.about{
    margin-top: 10em;
}

.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-text{
    margin-top: 2.5em;
    max-width: 600px;
}

.about-text p{
    font-size: 20px;
    text-align: justify;
}

.about-text p a{
    text-decoration: none;
    font-weight: bold;
}

.about-social{
    text-align: center;
    margin-top: 1em;
}

.fa{
    margin: 12px;
    width: 50px;
    text-decoration: none;
}

.fa-twitter {
	color: #1DA1F3;
}

.fa-linkedin {
	color: #0274B3;
}

.fa-medium {
	color: #14C767;
}

.fa-github{
    color: black;
}

.about-grid img{
    width: 100%;
    max-width: 350px;
    height: auto;
    justify-self: center;
}

.projects{
    margin-top: 10em;
}

.proj{
    margin-top: 3em;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4em;
}

.project-description{
    text-align: end;
}

.project-description h3{
    font-size: 25px;
}

.project-description p{
    margin-top: 1.5em;
}

.project-description ul{
    margin-top: 1.5em;
}

.project-stack{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    justify-content: flex-end;
}

.project-stack li{
    font-weight: bold;
}

.link-box{
    margin-top: 2em;
}

.view-link{
    width: 25px;
}

.git{
    width: 26px;
    object-position: bottom;
}

.project-image {
    max-width: 800px;
    height: 100%;
    width: 100%;
}

.contact{
    margin-top: 12em;
    text-align: center;
}


@media all and (min-width: 1024px) and (max-width: 1280px) {}
@media all and (min-width: 768px) and (max-width: 1024px) {}
@media all and (min-width: 480px) and (max-width: 768px) {}
@media all and (max-width: 480px) {}